<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldProduct">
      <h2 data-cy="soldProductDetailsHeading"><span jhiTranslate="poloMarketApp.soldProduct.detail.title">Sold Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldProduct.id }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.soldProduct.date">Date</span></dt>
        <dd>
          <span>{{ soldProduct.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.soldProduct.price">Price</span></dt>
        <dd>
          <span>{{ soldProduct.price | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.soldProduct.user">User</span></dt>
        <dd>
          <span>{{ soldProduct.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.soldProduct.product">Product</span></dt>
        <dd>
          <div *ngIf="soldProduct.product">
            <a [routerLink]="['/product', soldProduct.product?.id, 'view']">{{ soldProduct.product?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sold-product', soldProduct.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
