<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span jhiTranslate="poloMarketApp.transaction.detail.title">Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.price">Price</span></dt>
        <dd>
          <span>{{ transaction.price }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.date">Date</span></dt>
        <dd>
          <span>{{ transaction.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.client">Client</span></dt>
        <dd>
          <span>{{ transaction.client }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.seller">Seller</span></dt>
        <dd>
          <span>{{ transaction.seller }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.user">User</span></dt>
        <dd>
          <span>{{ transaction.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="poloMarketApp.transaction.product">Product</span></dt>
        <dd>
          <div *ngIf="transaction.product">
            <a [routerLink]="['/product', transaction.product?.id, 'view']">{{ transaction.product?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
